.member {
    border: 2px solid black;
    width: 250px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    border-radius: 5px;
    margin: 4px;
    border: 2px;
    background-color: rgb(90, 132, 142);
    color: rgb(10, 1, 1);
    font-family: Helvetica, sans-serif;
    font-size: 15px;
    padding: 7px;


}

.member:hover {
    transform: scale(1.2);
}